@charset "UTF-8";

*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
html,body{
	height:100%;
	width:100%;
}
header{
	height:10%;
	width:100%;
	background:blue;
	color:white;
	line-height:75px;
	text-align:center;
	overflow:hidden;
}
nav{
	height:5%;
	width:100%;
	line-height:40px;
	background:purple;
	text-align:center;
	overflow:hidden;
}
nav a{
	text-decoration:none;
	color:white;
}
nav ul{
	display:inline-block;
}
nav ul li{	
	list-style:none;
	float:left;
	padding:0 35px;
}
nav a:hover{
	color:pink;
}
#p{
	padding-left:20px;
}
#h3{
	padding:25px 0 0 20px;
}
section{
	height:80%;
	width:100%;
}
footer{
	height:5%;
	width:100%;
	color:white;
	background:gray;
	text-align:center;
	line-height:40px;
}
#h1{
	padding:15px 0;
	text-align:center;
}
#t0{
	margin:0 auto;
	width:30%;
}
#t1{
	margin:0 auto;
	width:50%;
}
#t2{
	margin:0 auto;
	width:70%;
}
#in{
	height:20px;
	width:65%;
}
#th{
	background:lightgray;
}
#td{
	text-align:center;
}
#td1{
	text-align:right;
}
#b{
	width:15%;
	height:25px;
}
#sel{
	width:20%;
	height:20px;
}
#sel1{
	width:40%;
	height:20px;
}